@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;  
    background-color: #1F2937;
    padding: 0px 250px;
    align-items: center;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 75px 250px;
    flex-wrap: wrap;
}
.hero-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 40%;
}

.container-hero-img {  
    display: flex;
    justify-content: center;
    flex-basis: 55%;
    background-color: gray;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

ul { display: flex;
    list-style-type: none;
    gap: 16px;
}

.hero-main-text{
    font-size: 48px;
    color: #f9faf8;
    margin: 0px;
    padding: 0px;
    text-align: left;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color:#E5E7EB;
}



.bottom-button {
    border:#E5E7EB;
}

button {
    font-size: larger;
    font-family: 'Roboto', sans-serif;
    color:#E5E7EB;
    background-color: #3882F6;
    border: 1px #3882F6;
    padding: 8px 32px;
    border-radius: 8px;
    font-weight:bold
}

.content-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 300px 200px 300px;
    gap: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 250px;
}

.card-img {
    width: 200px;
    height: 200px;
    border: 4px solid #3882F6;
    border-radius: 10%
}

.card-info{
    text-align: center;
    color: gray;
}

.footer-text {
    font-family: 'Roboto', sans-serif;
    color:#E5E7EB;
    
}

footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0px;
}

.inspiring-quote {
    background-color: #E5E7EB;
    display:flex;
    flex-direction: column;
    padding: 150px 350px;
}
.quote {
    font-size: 36px;
    font-weight:300;
    font-style: italic;
    color: #1F2937;
    align-self: left;
    margin: 0px 150px;
}

.quote-author {
    align-self: flex-end;
    margin: 0px 150px;
    color:#1F2937;
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
}

.another-signup {
    display: flex;
    margin: 75px 300px;
    background-color: #3882F6;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

.another-signup__left {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 75px;
}

.another-signup__right {
    flex-basis: 25%;
}

.another-signup__p {
    color: #E5E7EB;
    margin: 0px;
    padding: 0px;
    font-size: 28px;
}
.another-signup__header {
    margin: 0px;
    padding: 0px;
    color: #E5E7EB;
    font-size: 36px;
}

.bottom-button {
    border: 2px solid white;
}